extends base

block content
	.container.text-center
		h1= title
		p Welcome to #{title}
		.box
			.search-container
				i.glyphicon.glyphicon-search
				input#search(type='text', name='search', placeholder='Tell me where you are !!')

		.btn.btn-danger#locsearch Search around me

block scripts
	script(src="/javascripts/search.js")